.tagsWrapper {
  display: flex;
  gap: 5px;
}

.tag,
.showMore {
  position: relative;
  display: flex;
  align-items: center;
  height: $content-pills-height;
  padding: 0 10pt;
  font-size: 10pt;
  background-color: $bg-light;
  border: none;
  border-radius: 99pt;
  outline: none;
}

.showMore {
  cursor: pointer;
}

.tagTooltip {
  position: absolute;
  bottom: $content-pills-height;
  left: 50%;
  z-index: 1;
  padding: 5px;
  color: #ffffff;
  text-align: center;
  pointer-events: none;
  visibility: hidden;
  background-color: black;
  border-radius: 6px;
  transform: translateX(-50%);
}

.tag:hover .tagTooltip {
  visibility: visible;
}
