.tagsWrapper {
  display: flex;
  gap: 5px;
}

.tag,
.showMore {
  position: relative;
  display: flex;
  align-items: center;
  height: $content-pills-height;
  padding: 0 10pt;
  font-size: 10pt;
  background-color: $bg-light;
  border: none;
  border-radius: 99pt;
  outline: none;
}

.showMore {
  cursor: not-allowed;
}

