.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3pt;
  width: 100%;
  height: min-content;
  padding: 10pt 15pt;
  border: 2px solid $bg-dark;
  border-radius: $content-pills-height/2;
}

.pricePrimary {
  display: grid;
  grid-template-columns: 1fr;

  .value {
    font-family: $font-header;
    font-size: 20pt;
    line-height: 26pt;
    color: $color-header;
    text-align: center;

    &::after {
      margin-left: 3pt;
      content: '€';
    }
  }
}

.priceSecondary {
  display: grid;
  grid-template-columns: 1fr;

  .value {
    font-family: $font-regular;
    font-size: 10pt;
    line-height: 10pt;
    color: $color-regular;
    text-align: center;
  }
}

.value {
  margin-bottom: 0;
}
