.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  // gap: $main-content-margin;
  width: 100%;
}

@media screen and (max-width: $viewport-mobile-from) {
  .container {
    grid-template-columns: 1fr;
  }
}
