.wrapper {
  display: flex;
  justify-content: center;
}

.content {
  @include lifted;
  width: 100%;
  max-width: $max-content-width;
  padding: $main-content-padding;
  background-color: $bg-lighter;
  border-radius: $main-content-br;
}

.error {
  padding: $card-item-padding * 1.5 $card-item-padding * 2;
  margin-bottom: $main-content-padding;
  font-family: $font-regular;
  font-size: 11pt;
  color: $color-red;
  background-color: $color-red20;
  border-radius: $card-item-br;
}

.inputs {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: $card-item-padding;
    font-family: $font-major;
    font-size: 9pt;
    color: $color-regular;
    text-transform: uppercase;
  }

  input {
    all: unset;
    padding: 10pt 12pt;
    margin-bottom: $main-content-padding;
    font-family: $font-regular;
    font-size: 12pt;
    color: $color-regular;
    border: 1px solid $bg-darker;
    border-radius: $card-item-br;
    box-shadow: 0px 0px 0px #00000000;
    transition: box-shadow 0.1s ease, border-color 0.1s ease;

    &:hover,
    &:focus {
      border-color: #888888;
      box-shadow: 0 2px 3px #00000018;
    }
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: $card-item-padding;

  button {
    padding: $card-item-padding * 1.5 $card-item-padding * 2;
    font-family: $font-major;
    font-size: 11pt;
    cursor: pointer;
    border: none;
    border-radius: $card-item-br;
    transition: background-color 0.1s ease;
  }
}

.buttonPrimary {
  color: $bg-lighter;
  background-color: $color-green;

  &:hover {
    background-color: $color-greenH;
  }
}

.buttonSecondary {
  color: $color-regular;
  background-color: $bg-dark;

  &:hover {
    background-color: $bg-darker;
  }
}
