.content {
  display: flex;
  flex-direction: column;
  gap: $main-content-padding;
  width: 90vw;
  max-width: 400pt;

  p {
    margin: 0;
    font-family: $font-regular;
    font-size: 12pt;
    color: $color-major;
  }

  button {
    height: $content-pills-height;
    padding: 3pt 0;
    font-family: $font-major;
    font-size: 11pt;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    background-color: $color-green;
    border: none;
    border-radius: $card-item-br;
    transition: background-color 0.1s ease;

    &:disabled {
      color: $color-minor;
      cursor: not-allowed;
      background-color: $bg-light;
    }

    &:hover:not(:disabled) {
      background-color: $color-greenH;
    }
  }
}
