.main {
  input {
    width: 95%;
    padding: 4px;
    font-family: $font-regular;
    font-size: medium;
  }
}

.popupText {
  width: max-content;
}

.popupDivider {
  width: 100%;
}

.mergeButton {
  margin-left: 10%;
}
