.content {
  position: relative;
  padding: $main-content-padding;
  background-color: $bg-lighter;
  border-radius: $main-content-br;

  h2 {
    margin: $main-content-padding 0;
    font-family: $font-header;
    font-size: 18pt;
    color: $color-header;
  }

  h3 {
    margin: 0 0 $card-item-padding 0;
    font-family: $font-header;
    font-size: 14pt;
    color: $color-major;
  }
}

.image {
  position: relative !important;
  width: 100% !important;
  height: 200pt !important;
  overflow: hidden;
  border-radius: $card-item-br;

  img {
    object-fit: cover;
  }

  @supports (aspect-ratio: 1) {
    height: unset !important;
    // TODO pick an aspect ratio
    aspect-ratio: 21 / 9 !important;
  }
}

button.allComments {
  all: unset;
  padding: $card-item-padding $card-item-padding * 2;
  margin-top: $main-content-padding;
  font-family: $font-major;
  font-size: 10pt;
  color: $color-major;
  cursor: pointer;
  background-color: $bg-light;
  border-radius: $card-item-br;
  transition: background-color 0.1s ease;

  &:hover {
    background-color: $bg-darker;
  }

  &:focus-visible {
    outline: 2px solid $color-blue !important;
  }
}

.priceAndRatingWrapper {
  display: flex;
  justify-content: space-between;
}

.priceWrapper {
  display: flex;
  gap: 5px;
}
