.content {
  @include lifted;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: $bg-lighter;
  border-radius: $main-content-br;
}

.inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: $main-content-padding;

  h2 {
    margin: 0 0 $main-content-padding 0;
    font-family: $font-header;
    font-size: 18pt;
    color: $color-header;
  }

  h3 {
    margin: 0 0 $card-item-padding 0;
    font-family: $font-header;
    font-size: 14pt;
    color: $color-major;
  }
}

.image {
  position: relative;
  width: 100%;
  height: 200pt;
  overflow: hidden;
  background-color: $bg-light;

  img {
    object-fit: cover;
  }

  span {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    padding: $main-content-padding;
  }

  @supports (aspect-ratio: 1) {
    height: unset !important;
    // TODO pick an aspect ratio
    aspect-ratio: 16 / 9 !important;
  }
}

.dynamicSpace {
  flex-grow: 1;
}

.buttonContainer {
  display: flex;
  gap: $card-item-padding;
  margin-top: $main-content-padding;
}

.buttonContainer button {
  all: unset;
  flex: 1;
  height: $content-pills-height;
  font-family: $font-major;
  font-size: 10pt;
  color: $color-major;
  text-align: center;
  cursor: pointer;
  background-color: $bg-light;
  border-radius: $card-item-br;
  transition: background-color 0.1s ease;
}

.buttonContainer .occDetails {
  &:hover {
    background-color: $bg-darker;
  }

  &:focus-visible {
    outline: 2px solid $color-blue !important;
  }
}

.buttonContainer .rate {
  background-color: $color-blue;

  &:disabled {
    cursor: not-allowed;
    background-color: $bg-dark;
  }

  &:focus-visible {
    outline: 2px solid $color-major !important;
  }

  &:hover {
    background-color: $color-blueH;
  }
}

.priceAndRatingWrapper {
  display: flex;
  gap: 10pt;
  justify-content: space-between;
  margin-bottom: $main-content-padding;
}

.pillsWrapper {
  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap;
  gap: 5pt;
}

.priceWrapper {
  display: flex;
  gap: 5px;
}
