.container {
  position: relative;
  z-index: 1;
}

.button {
  display: block;
  cursor: pointer;

  & > * {
    display: block;
    width: 20pt;
    height: 20pt;
  }
}

.dropdown {
  position: absolute;
  top: 20pt;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 2pt;
  width: min-content;
  height: min-content;
  padding: 2pt;
  overflow: hidden;
  background-color: $bg-lighter;
  border: 1px solid $bg-dark;
  border-radius: $card-item-br + 2pt;
  box-shadow: 0 4px 7px #00000033;
}

.dropdownHidden {
  display: none;
}

.dropdownOption {
  display: inline-flex;
  gap: $card-item-padding;
  align-items: center;
  padding: $card-item-padding $card-item-padding * 2;
  cursor: pointer;
  border-radius: $card-item-br;

  &:hover {
    background-color: $bg-light;
  }

  div {
    display: inline-block;
    width: 20pt;
    height: 20pt;
  }

  span {
    display: inline-block;
  }
}
