.container {
  position: relative;
  z-index: 1;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50pt;
  height: 100%;
  cursor: pointer;
  background-color: $bg-lighter;
  border: none;
  border-radius: $header-element-br;
  outline: none;
  transition: background-color 0.1s ease-out;

  &:hover {
    background-color: $bg-light;
  }

  &:focus-visible {
    outline: 2px solid $color-green !important;
  }

  & > * {
    display: block;
    width: 20pt;
    height: 20pt;
  }
}
