.container {
	box-sizing: border-box;
	display: inline-flex !important;
	height: $height-header-element;
	padding: 3pt;
	overflow: hidden;
	background-color: $bg-light;
	border-radius: $br-header-element;

	button {
		background-color: $bg-light;
		border: none;
		outline: none;

		&:hover {
			background-color: $bg-dark;
		}
	}
}

.selected {
	background-color: #6aa9ea;
}
