.container {
	box-sizing: border-box;
	display: inline-flex !important;
	height: $height-header-element;
	padding: 3pt;
	gap: 3pt;
	overflow: hidden;
	background-color: $bg-lighter;
	border-radius: $br-header-element;

	button {
		background-color: $bg-lighter;
		border: none;
		outline: none;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: $br-header-element;
		width: 50pt;
		transition: background-color 0.1s ease-out;

		&:hover {
			background-color: $bg-light;
		}

		span {
			transition: color 0.1s ease-out;

			&.dow {
				color: $color-major;
				font-family: Arial, sans-serif;
				font-weight: 800;
				text-transform: uppercase;
				font-size: 12pt;
			}

			&.date {
				font-family: monospace;
				font-weight: 300;
				font-size: 10pt;
			}
		}

		&.selected {
			background-color: $color-blue;

			span {
				color: $bg-lighter;
			}
		}
	}
}
