html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: red;
}

/* THEMING */

#styling {
  @media (prefers-color-scheme: dark) {
    & * { @include theme-dark() }
  }

  @media (prefers-color-scheme: light) {
    & * { @include theme-light() }
  }
}

#styling.theme-light {
  & * { @include theme-light() }
}

#styling.theme-dark {
  & * { @include theme-dark() }
}
