.popup-content {
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

[role='tooltip'].popup-content {
  @include lifted;
  display: flex;
  flex-direction: column;
  gap: 2pt;
  width: min-content;
  min-width: 150px;
  height: min-content;
  padding: 2pt;
  overflow: hidden;
  background-color: $bg-lighter;
  border-radius: $card-item-br + 2pt;

  & > button {
    display: inline-flex;
    gap: $card-item-padding;
    align-items: center;
    padding: $card-item-padding $card-item-padding * 2;
    cursor: pointer;
    background-color: $bg-lighter;
    border: none;
    border-radius: $card-item-br;

    &:hover {
      background-color: $bg-light;
    }

    div {
      display: inline-block;
      width: 20pt;
      height: 20pt;
    }

    span {
      display: inline-block;
    }
  }
}

.popup-arrow {
  color: transparent;
}

[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.popup-content {
  max-height: 100vh;
  overflow: auto;

  @media screen and (max-width: $viewport-mobile-from) {
    height: 100vh;
    padding-bottom: calc(
      $header-element-height + 6pt + env(safe-area-inset-bottom)
    );
  }

  & > * {
    border-radius: 0 !important;
  }
}
