@mixin theme-light {
  --bg-darker: #cccccc;
  --bg-dark: #dddddd;
  --bg-light: #eeeeee;
  --bg-lighter: #ffffff;
  --color-blue: #55acee;
  --color-red: #ec3960;
  --color-red20: #ec396020;
  --color-minor: #585858;
  --color-regular: #141414;
  --color-major: #080808;
  --color-header: #000000;
}

@mixin theme-dark {
  /* DARK THEME TODO */
  --bg-darker: #cccccc;
  --bg-dark: #dddddd;
  --bg-light: #eeeeee;
  --bg-lighter: #ffffff;
  --color-blue: #55acee;
  --color-red: #ec3960;
  --color-red20: #ec396020;
  --color-minor: #585858;
  --color-regular: #141414;
  --color-major: #080808;
  --color-header: #000000;
}

//// COLORS

// backgrounds
$bg-darker: var(--bg-darker);
$bg-dark: var(--bg-dark);
$bg-light: var(--bg-light);
$bg-lighter: var(--bg-lighter);

// theme
$color-blue: var(--color-blue);
$color-red: var(--color-red);
$color-red20: var(--color-red20);
$color-minor: var(--color-minor);
$color-regular: var(--color-regular);
$color-major: var(--color-major);
$color-header: var(--color-header);

//// FONTS

$font-header: 'Montserrat 900', 'Roboto', sans-serif;
$font-major: 'Montserrat 800', 'Roboto', sans-serif;
$font-regular: 'Montserrat 500', 'Roboto', sans-serif;
$font-minor: 'Montserrat 500', 'Roboto', sans-serif;

//// SPACING / SIZES

$max-content-width: 350pt;

$header-element-height: 40pt;
$header-element-br: 999pt;

$main-content-margin: 10pt;
$main-content-padding: 16pt;
$main-content-br: 10pt;

$card-item-br: 5pt;
$card-item-padding: 6pt;
