.content {
  display: grid;
  grid-template-areas: 'nav-left nav-center nav-right';
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin: 20pt 0;

  h1 {
    grid-area: nav-center;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 18pt;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;

    &::before {
      position: absolute;
      display: inline;
      width: 24pt;
      height: 24pt;
      content: '';
      background-image: url('/static/img/logo.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transform: translateX(-130%);
    }
  }
}

.navaction {
  grid-area: nav-left;
}

.settings {
  box-sizing: border-box;
  display: inline-flex !important;
  grid-area: nav-right;
  gap: 20pt;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: $header-element-height;
  padding: 3pt 20pt;
  margin-left: auto;
  font-family: Arial, sans-serif;
  font-size: 12pt;
  font-weight: 400;
  background-color: $bg-lighter;
  border-radius: $header-element-br;
}

.divider {
  display: inline-block;
  width: 1px;
  height: 15pt;
  margin: 0 -5pt;
  background-color: $bg-darker;
}
