.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20pt 0;

  h1 {
    font-family: Arial, sans-serif;
    font-size: 18pt;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
  }
  .FlexForCenter {
    display: flex;
    align-items: center;
  }
}
