.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin: 20pt 0;

  h1 {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 18pt;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;

    &::before {
      content: '';
      width: 24pt;
      height: 24pt;
      display: inline;
      position: absolute;
      transform: translateX(-130%);
      background-image: url('/static/img/logo.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
