.price {
  margin-bottom: 0 !important;
  font-family: $font-regular;
}

.priceSmallFont {
  font-size: 10pt !important;
}

.priceMediumFont {
  font-size: 15pt !important;
}

.label {
  margin: 0 !important;
}

.labelSmallFont {
  font-size: 5pt !important;
}

.labelMediumFont {
  font-size: 10pt !important;
}
