.footer {
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 'logo copyright legal social' 'logo disclaimer disclaimer social';
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto auto 1fr auto;
  row-gap: 2pt;
  column-gap: 8pt;
  align-items: center;
  padding: $main-content-padding 0;
  margin: #{$container-padding} #{-$container-padding} 0 #{-$container-padding};

  p {
    grid-area: disclaimer;
    margin: 0;
    font-family: $font-regular;
    font-size: 11pt;
    color: $color-minor;
  }
}

.copyright {
  display: inline;
  grid-area: copyright;
  margin-right: $main-content-padding;
  font-family: $font-major;
  font-size: 11pt;
  font-weight: 600;
  color: $color-minor;
}

.logo {
  grid-area: logo;
  width: 28pt;
  height: 100%;
  cursor: pointer;
  background-image: url('/static/img/logo_bw.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.links {
  display: flex;
  flex-wrap: wrap;
  grid-area: legal;
  row-gap: 2pt;
  column-gap: $main-content-padding;

  a {
    font-family: $font-major;
    font-size: 11pt;
    font-weight: 600;
    color: $color-minor;
  }

  a:hover {
    text-decoration: underline;
  }
}

.social {
  display: flex;
  grid-area: social;
  gap: 20pt;
  justify-content: center;

  a {
    display: grid;
    place-items: center;
    width: 34pt;
    height: 34pt;
    margin: -8pt;
    background-color: #ffffff00;
    border-radius: 99pt;
    transition: background-color 0.1s ease;

    &:hover {
      background-color: $bg-darker;

      path {
        fill: #111111;
      }
    }

    svg {
      width: 14pt;
      height: 14pt;

      path {
        fill: #444444;
        transition: fill 0.1s ease;
      }
    }
  }
}

@media screen and (max-width: $viewport-mobile-from) {
  .footer {
    grid-template-areas: 'copyright' 'social' 'legal' 'disclaimer';
    grid-template-columns: 1fr;
    row-gap: 8pt;
    padding: 40pt 0;
    margin-bottom: calc(
      $header-element-height + 6pt + env(safe-area-inset-bottom)
    );
  }

  .logo {
    display: none;
  }

  .copyright {
    text-align: center;
  }

  .links {
    justify-content: center;
  }

  .footer p {
    text-align: center;
  }

  .social {
    margin: 5pt 0 10pt 0;
  }
}
