.footer {
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 'logo copyright legal' 'logo disclaimer disclaimer';
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto auto 1fr;
  row-gap: 2pt;
  column-gap: 8pt;
  padding: $main-content-padding 0;
  margin: #{$container-padding} #{-$container-padding} 0 #{-$container-padding};

  p {
    grid-area: disclaimer;
    margin: 0;
    font-family: $font-regular;
    font-size: 11pt;
    color: $color-minor;
  }
}

.copyright {
  display: inline;
  grid-area: copyright;
  font-family: $font-major;
  font-size: 11pt;
  font-weight: 600;
  color: $color-minor;
}

.logo {
  grid-area: logo;
  width: 28pt;
  height: 100%;
  background-image: url('/static/img/logo.svg');
  filter: grayscale(1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.links {
  display: flex;
  flex-wrap: wrap;
  grid-area: legal;
  row-gap: 2pt;
  column-gap: $main-content-padding;

  a {
    font-family: $font-major;
    font-size: 11pt;
    font-weight: 600;
    color: $color-minor;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: $viewport-mobile-from) {
  .footer {
    grid-template-areas: 'copyright' 'legal' 'disclaimer';
    grid-template-columns: 1fr;
    row-gap: 8pt;
    padding: 40pt 0;
    margin-bottom: calc(
      $header-element-height + 6pt + env(safe-area-inset-bottom)
    );
  }

  .logo {
    display: none;
  }

  .copyright {
    text-align: center;
  }

  .links {
    justify-content: center;
  }

  .footer p {
    text-align: center;
  }
}
