.grid {
  border: 2px solid black;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 8px 4px;
  border-bottom: 1px solid black;
}

.row:last-child {
  border-bottom: 0px;
}

.header {
  font-weight: bold;
}

.cell {
  overflow: auto;
}

.headerCell {
  display: flex;
  gap: 5px;
}
