.form {
  display: flex;
  flex-direction: column;
  gap: $card-item-padding;
  width: 90vw;
  max-width: 400pt;

  h1 {
    margin: 0;
  }

  p {
    padding: $card-item-padding $card-item-padding * 1.5;
    margin: 0 0 $card-item-padding 0;
    font-family: $font-regular;
    font-size: 11pt;
    color: $color-major;
    background-color: $bg-light;
    border-radius: $card-item-br;

    &.error {
      color: $color-red;
      background-color: $color-red20;
    }
  }

  .fileUpload {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100px;
    border: 2px solid $bg-dark;
    border-style: dashed;
    border-radius: $card-item-br;

    input {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 0;
    }

    span {
      font-family: $font-regular;
      font-size: 10pt;
      color: $color-minor;
    }
  }

  .draggedOver {
    // TODO: @maanex Style the input area if a file is dragged over
  }

  .stars {
    justify-self: center;
  }

  .rating {
    justify-content: center;
    height: unset !important;
    padding: 10pt 10pt !important;
    border-radius: $card-item-br !important;

    & > div {
      width: 34pt;
      height: 24pt;
      padding: 0 5pt;
      cursor: pointer;
    }
  }

  label {
    margin-top: $card-item-padding;
    font-family: $font-major;
    font-size: 9pt;
    color: $color-major;
    text-transform: uppercase;
  }

  input[type='text'] {
    padding: 10pt 12pt;
    font-family: $font-regular;
    font-size: 12pt;
    color: $color-regular;
    border: 1px solid $bg-darker;
    border-radius: $card-item-br;
    box-shadow: 0px 0px 0px #00000000;
    transition: box-shadow 0.1s ease, border-color 0.1s ease;

    &:hover,
    &:focus {
      border-color: #888888;
      box-shadow: 0 2px 3px #00000018;
    }
  }

  .button {
    padding: 10pt 0;
    font-family: $font-major;
    font-size: 11pt;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    background-color: $color-green;
    border: none;
    border-radius: $card-item-br;
    transition: background-color 0.1s ease;

    &:disabled {
      color: $color-minor;
      cursor: not-allowed;
      background-color: $bg-light;
    }

    &:hover:not(:disabled) {
      background-color: $color-greenH;
    }
  }

  .divider {
    width: calc(100% + 2 * $main-content-padding);
    height: 1px;
    margin: calc($main-content-padding - $card-item-padding)
      calc(-1 * $main-content-padding);
    background-color: $bg-light;
  }
}
