.wrapper {
  width: 90vw;
  max-width: 400pt;

  h1 {
    margin: 0;
  }

  // p == error message
  p {
    padding: $card-item-padding;
    color: $color-red;
    background-color: $color-red20;
    border-radius: $card-item-br;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: $card-item-padding;

  input[type='file'] {
  }

  .stars {
    justify-self: center;
  }

  .name {
  }

  .comment {
  }

  .button {
  }
}
