.tooltip {
  position: absolute;
  z-index: 1;
  padding: 5px;
  font-size: 10pt;
  color: #ffffff;
  text-align: center;
  pointer-events: none;
  visibility: hidden;
  background-color: black;
  border-radius: 6px;
}

.elem:hover .tooltip {
  visibility: visible;
}
