.container {
  box-sizing: border-box;
  display: inline-flex !important;
  gap: 3pt;
  width: fit-content;
  height: $header-element-height;
  padding: 3pt;
  overflow: hidden;
  background-color: $bg-lighter;
  border-radius: $header-element-br;

  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50pt;
    cursor: pointer;
    background-color: $bg-lighter;
    border: none;
    border-radius: $header-element-br;
    outline: none;
    transition: background-color 0.1s ease-out;

    &:hover {
      background-color: $bg-light;
    }

    span {
      transition: color 0.1s ease-out;

      &.dow {
        font-family: Arial, sans-serif;
        font-size: 12pt;
        font-weight: 800;
        color: $color-major;
        text-transform: uppercase;
      }

      &.date {
        font-family: monospace;
        font-size: 10pt;
        font-weight: 300;
      }
    }

    &.selected {
      background-color: $color-blue;

      span {
        color: $bg-lighter;
      }
    }
  }
}
