.container {
  @include lifted;
  box-sizing: border-box;
  display: inline-flex !important;
  gap: 3pt;
  width: fit-content;
  height: $header-element-height;
  padding: 3pt;
  overflow: hidden;
  background-color: $bg-lighter;
  border-radius: $header-element-br;

  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50pt;
    cursor: pointer;
    background-color: $bg-lighter;
    border: none;
    border-radius: $header-element-br;
    outline: none;
    transition: background-color 0.1s ease-out;

    &:hover {
      background-color: $bg-light;
    }

    &:focus-visible {
      outline: 2px solid $color-green !important;
    }

    span {
      transition: color 0.1s ease-out;

      &.dow {
        font-family: Arial, sans-serif;
        font-size: 12pt;
        font-weight: 800;
        color: $color-major;
        text-transform: uppercase;
      }

      &.date {
        font-family: monospace;
        font-size: 10pt;
        font-weight: 300;
      }
    }

    &.selected {
      background-color: $color-green;

      span {
        color: $bg-lighter;
      }

      &:focus-visible {
        outline: 2px solid black !important;
      }
    }
  }
}

// TODO: @maanex this was "stolen" from the back-button, adjust as you see fit
.button {
  box-sizing: border-box;
  display: inline-flex;
  gap: 7pt;
  align-items: center;
  justify-content: center;
  padding: 3pt 10pt;
  font-family: Arial, sans-serif;
  font-size: 12pt;
  font-weight: 400;
  cursor: pointer;
  background-color: $bg-lighter;
  border-radius: $header-element-br;
  transition: background-color 0.1s ease;

  &:hover {
    background-color: $bg-light;
  }

  *[class='icon'] {
    width: 12pt;
    height: 12pt;
  }
}

@media screen and (max-width: $viewport-mobile-from) {
  .container {
    justify-content: space-evenly;
    width: 100%;
    height: unset;
    padding: 6pt 0;
    padding-bottom: calc(6pt + env(safe-area-inset-bottom));
    border-right: none !important;
    border-bottom: none !important;
    border-left: none !important;
    border-radius: 0;
    box-shadow: none;

    button {
      padding: 3pt 0;
    }
  }
}
